/* --------------------index.html----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
  }
  
  
  .basic {
    width: 100%;
    height: 3000px;
    background-color: rgb(206, 201, 201);
    color: #170404;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }


  /* --------------------------------------------navbar styles--------------------------- */
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #000a05;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar is above other elements */
  }
  
  /* List item styles */
  li {
    float: left;
  }
  
  /* Anchor tag styles */
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-weight: bold;
  }
  li a:hover {
    background-color: #3d3f3f;
  }
  
  /* contact button styles */
  .contact {
    background-color: #2d313c;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
  }
  /* -------------------footer--------------------- */
  footer {
    background: #080000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

  /* -----------------------index.html----------- */
  .intro-content {
    margin-top: 40px;
    padding: 80px;
    text-align: center;
    width: 100%;
    height: 700px;
    background-image: url("images/index-img1.jpg");
    background-size: cover;
  }
  .intro-content h1 {
    font-size: 70px;
    margin-top: 80px;
    color: #010718;
    width: 100%;
  }
  .intro-content-basic {
    width: 100%;
    height: 1500px;
    background-color: #f3f9f9;
    color: #170404;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }

  .row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
  }

  .campus{
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
  }
  
  
  .campus-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

  }
  
  .campus-col img{
    width: 600px;
    height: 600px;
    display: block;
  }
  
  .campus-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);   
  
  }
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  
  .layer:hover{
    background: rgba(36, 1, 1, 0.7);
  
  }
  
  .layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    
  }
  
  .layer:hover h3{
    bottom: 49%;
    opacity: 1;
  }

  .layer p{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* position: absolute; */
    opacity: 0;
    transition: 0.5s;
  }

  .layer:hover p{
    bottom: 49%;
    opacity: 1;
  }
  

/* -----------------importance.html--------------- */
.imp-content {
  margin-top: 40px;
  padding: 60px;
  text-align: center;
  width: 100%;
  height: 600px;
  background-image: url("images/imp-img1.jpeg");
  background-size: cover;
}
.imp-content h1 {
  font-size: 70px;
  color: #010718;
  width: 100%;
}
.imp-content-basic {
  width: 100%;
  height: 1400px;
  background-color: #f3f9f9;
  color: #170404;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
.imp-cont{
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  
}

/* ------------------------types.html-------------------- */

/* header */
.content {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 3000px;
  background-image: url("images/pollution-image.jpg");
  background-size: cover;
}
.content h1 {
  font-size: 100px;
  margin-top: 50px;
  color: #010718;
  width: 100%;
}

/* definition of pollution */
.define {
  width: 100%;
  height: 600px;
  background-color: black;
  display: flex;
  color: #fff;
}

.image {
  flex: 1;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
}

.image img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin-left: 120px;
}

.explain {
  flex: 1;
  margin-top: 80px;
  font-size: 20px;
  padding-right: 10px;
}

/* heading */
.heading {
  width: 100%;
  height: 100px;
  background-color: black;
  padding-top: 50px;
  display: flex;
  color: #fff;
  justify-content: center;
  font-size: 50px;
}

/* image - grids */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  gap: 10px; /* Gap between cards */
  width: 100%;
  height:530px;
  background-color: black;
  color: #fff;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.2s ease;
}

.card:hover .overlay {
  opacity: 0.8; /* Show overlay on hover */
}

.text {
  color: white;
  text-align: center;
  font-size: medium;
  padding: 20px;
  backdrop-filter: blur(0px); /* Blurred background */
}
/* ------------------------conservation------------------------ */
.cons-content {
  margin-top: 40px;
  padding: 60px;
  text-align: center;
  width: 100%;
  height: 600px;
  background-image: url("images/cons-img1.jpg");
  background-size: cover;
}
.cons-content h1 {
  font-size: 70px;
  margin-top: 100px;
  color: #010718;
  width: 100%;
}
.cons-content-basic {
  width: 100%;
  height: 2500px;
  background-color: #f3f9f9;
  color: #170404;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
.cons-cont{
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  
}
/* ---------------------------contact-------------------------- */
.contact-basic {
  width: 100%;
  height: 640px;
  background-color: black;
  color: #fff;
  /* padding-left: 10px;
  padding-right: 10px; */
  font-size: 20px;

  /* Add the blur effect */
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  display: flex;
  padding-top: 40px;
}

.contact-content{
  flex: 8;
  /* background-image: url("images/contact-img.jpeg");
  background-size: cover;  */
  /* filter: blur(2px);
  -webkit-filter: blur(2px);   */
  
}

.contact-img{
  flex:2;
  background-image: url("images/contact-img2.png");
}

#green-earth{
  height: 350px;
  width: 350px;
}

form{
  padding-top: 100px;
  width: 40%;
  margin: 0 auto;

}

label{
  display: block;
  margin-bottom: 5px;
}

input[type="text"],[type="email"],textarea{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(16, 21, 87); /* Add a red line for the typing area */
  outline: none; /* Remove the input field outline */
  color: white; /* Set text color */
  font-size: 14px; /* Set font size */
  padding: 5px;
}

input[type="submit"]{
  width: 30%;
  padding: 10px;
  background-color: #158087;;
  color: #fff;
  border:none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3; 
}